.mcqs
{
	background-color: #24292e;
	font-family: 'Varela Round', sans-serif;
	margin: 0%;
	padding: 0%;
}

.box
{
			margin-top: 8%;
			background-color: white;
    	border: 1px solid lightgray;
    	border-radius: 10px;
			margin-bottom: 5%;
			margin-left: 10%;
			margin-right: 12%;
}
.question
{
			padding-top: 10%;
			color: #24292e;
			font-size: 20px;
			margin-left: 5%;
			border-bottom: 1px solid lightgray;
			margin-right: 10%;
			padding-top: 3%;
			padding-bottom: 2%;
}

.option{
	margin: 1%;
	padding: 5px;
	border: 1px solid lightgray;
}
.nicebutton
{
	background-color: #336699;
	height: 40px;
	width: 80px;
	border: 1px solid #24292e;
	border-radius : 5px;
	color: white;
}
.nicebutton:active
{
	transform: translateY(3px);
	background-color: #24292e;
}
.nicebutton:hover
{
	background-color: #4488bb;
}
